.filter-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  h3 {
    grid-column: 1/4;
    grid-row: 1;
  }

  .filter-row {
    padding: 10px;
    .filter-title {
      font-size: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid;
      margin-bottom: 10px;
    }
    .filter-content {
    }
  }
}
